@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@font-face {
	font-family: 'Basic Title Font';
	font-style: normal;
	font-weight: 200;
	src: url(font/basictitlefont.woff);
}

* {
	margin: 0px 0px 15px;
	padding: 0px;
}

html, body {
	margin: 0px;
	min-width: 930px;
	height: 100%;
}

body {
	background: #bdbdbd url("img/background.png") repeat-x center top;
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	text-align: justify;
	color: #282828;
}

#wrapper {
	margin: 0px;
	min-height: 100%;
	position: relative;
}

.space {
	margin: 0px;
	height: 15px;
}

h1 {
	padding: 5px 0px 10px;
	width: 100%;
	font-family: 'Basic Title Font', sans-serif;
	font-size: 60px;
	text-align: center;
	font-weight: 200;
	color: #ffffff;
	text-transform: uppercase;
	background: #539c05;
}

a {
	color: #282828;
	text-decoration: none;
}

a:hover {
	color: #bdbdbd;
}

#nav {
	height: 35px;
	width: 100%;
	font-family: 'Basic Title Font', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #bdbdbd;
	background: #282828;
}
#nav a {
	color: #bdbdbd;
	text-decoration: none;
}
#nav a:hover, #nav a.cur {
	color: #ffffff;
}

#body {
	margin: 0px auto;
	min-height: 250px;
	padding: 0px 0px 25px;
	width: 900px;
	text-align: justify;
}
#body h1 {
	width: 900px;
	font-size: 40px;
}
#body .button {
	margin: 0px auto;
	padding: 5px 0px 10px;
	width: 400px;
	font-family: 'Basic Title Font', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	text-align: center;
	background: #539c05;
}
#body .buttongrey {
	margin: 0px auto;
	padding: 5px 0px 10px;
	width: 400px;
	font-family: 'Basic Title Font', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	text-align: center;
	background: #6d6d6d;
}
#body .button:hover, #body .buttongrey:hover {
	background: #bdbdbd;
	cursor: pointer;
}
#body a {
	text-decoration: none;
}
#body img {
	margin: 20px;
	padding-top: 20px;
	width: 200px;
	height: 180px;
	font-weight: bold;
	text-align: center;
	float: right;
	background: #167291;
	color: #ffffff;
}
canvas {
	position: relative;
}

#foot {
	margin: 0px;
	padding: 5px 0px 0px;
	height: 25px;
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #bdbdbd;
	background: #282828;
	position: absolute;
		bottom: 0px;
}